form{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}


.active {
    background-color: #4CAF50;
}
.activeblack{
    background-color: darkred;
}
p,h2,h3,h5{
    font-family: 'Niramit', sans-serif;
    padding-left: 15px;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    font-family: 'Niramit', sans-serif;

    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}